*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: "RF Dewi", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}

.container {
    max-width: 1920px;
    padding: 0 64px;
    margin: 0 auto;
    @media (max-width: 1200px) {
        padding: 0 32px;
    }
    @media(max-width: 768px) {
        padding: 0;
    }
}

.site-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.site-link {
    color: #000000;
    display: inline-block;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
}